.jalopy-nav {
    margin-right: 1em;
}

.jalopy-container {
    position: relative;
    min-height: 100vh;
}
#app {
    padding-bottom: 2.5rem;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
}

.jumbotron-1 {
    background: url('https://media.istockphoto.com/photos/popcorn-spilled-from-a-paper-bucket-picture-id1311068539?b=1&k=20&m=1311068539&s=170667a&w=0&h=LRNnDk8zMnjBWhPEiyKLNTnwlOwpjzjoPGSqsZYDuPI=') center no-repeat;
    background-size: cover;
    padding-top: 5%;
    padding-bottom: 5%;
}

.inner-content  {
    background-color: rgba(108, 106, 106, 0.4);
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-between;
}

.col-sm-4 {
    border: dotted black;
}