@import url('https://fonts.googleapis.com/css2?family=Anton&family=Montserrat+Subrayada:wght@400;700&family=Mukta:wght@200;300&family=Roboto:wght@400;700&display=swap');


.jalopy-nav {
    margin-right: 1em;
}

.jalopy-container {
    position: relative;
    min-height: 100vh;
    padding: 0
}
#app {
    padding-bottom: 2.5rem;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
}

.jumbotron-1 {
    background: url("/assets/popcorn.png");
    background-size: cover;
    padding-top: 5%;
    padding-bottom: 5%;
    margin-bottom: .75rem;
    border-bottom: darkgoldenrod .5rem solid;
}

.inner-content  {
    background-color: rgba(108, 106, 106, 0.4);
}
body {
    background-color: #222;
    color: #CCC;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-between;
}
.poster {
    width: 100%;
}

.movieColContent {
    background-color: #333;
    width: 99%;
    margin: 0;
    /*padding: 1rem;*/
}


#logo-text{
    font-family: 'Montserrat Subrayada', sans-serif;
    font-size: 40px;
    text-decoration: none;
    color: #b40e0e;
}

